@model IEnumerable<EZDataFramework.Framework.ReportColumn>


<div id="OutputColumnTable"class="row">
    <div class="col-xs-12">
        <table id="ColumnTable">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>DBType</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var column in Model) {
                    <tr>
                        <td>@column.ColumnName</td>
                        <td>@column.DBType</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
